.winter
table{border:1px dotted;
background-color: lightblue;
font-family: cursive;
}

.spring
table{border:1px double;
background-color: lightgreen;
font-family: cursive;
}

.summer
table {border:1px dashed;
	background-color: gold;
	font-family: cursive;	
}
 
.fall
table {border:1px solid;
	background-color: red;
	font-family: cursive;	
}

table, td {border:1px solid;
	font-family: verdana;
}


th {
color: white;
font-weight: bold;
font-size: 26px;
}

td {
color: black;
font-weight: solid;
font-size: 16px;
}
